/* CSS for about.php */
.about-us {
    text-align:center;
    background-color: white;
}
.about-h2 {
    padding-top:2vw;
}
.about-banner h1 {
    background: linear-gradient(to right,#1d976c, #93f9b9);
    padding: 3vw;
}
.about-desc {
    width:70%;
    text-align:left;
    display:inline-block;
}
.video-player > video {
    display: inline-block;
    margin: 0;
    padding: 0; 
}
.video-player {
    opacity: 100;
    max-width: 100%;
    max-height: 100%;
    font-size: 0;
}
/* CSS for contact.php */