.btn-cool {
  background-image: linear-gradient(to bottom, #e6c667, #e5c462);
  border: 2px solid #806515;
  border-radius: 10px;
  color: #6a5411;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.0625em;
  max-width: 160px;
  outline: 0;
  padding: 16px;
  text-transform: uppercase;
  transition: all ease 0.25s;
}
.btn-cool:hover {
  border: 0;
}

.btn:hover {
  box-shadow: 0 5px 10px #919191;
  transform: translateY(-3px);
}
.btn:active {
  box-shadow: 0 3px 8px #ababab;
  transform: translateY(2px);
}
