

body {
	font-family: Helvetica;
	/* background: #fff; */
  -webkit-font-smoothing: antialiased;
}

.form1 {
	padding: 2em 1em !important;
}

.group {
	position: relative !important;
	margin-bottom: 28px !important;
}

.input1 {
  box-sizing: border-box;
  font-size: 12pt !important;
	padding: 10px 10px 10px 5px !important;
	-webkit-appearance: none !important;
	display: block !important;
	color: #636363 !important;
	width: 100% !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #757575 !important;
}

.input1:focus { outline: none !important; }


/* Label */

.label1 {
	color: #999 !important;
	font-size: 18px !important;
	font-weight: normal !important;
	position: absolute !important;
	pointer-events: none !important;
	left: 5px !important;
	top: 10px !important;
	transition: all 0.2s ease !important;
}


/* active */

.input1:focus ~ .label1, .input1.used ~ .label1 {
	top: -20px !important;
  transform: scale(.75); left: -2px !important;
	/* font-size: 14px; */
	color: #4a89dc !important;
}


/* Underline */

.bar {
	position: relative !important;
	display: block !important;
	width: 100% !important;
}

.bar:before, .bar:after {
	content: '' !important;
	height: 2px !important;
	width: 0 !important;
	bottom: 1px !important;
	position: absolute !important;
	background: #4a89dc !important;
	transition: all 0.2s ease !important;
}

.bar:before { left: 50% !important; }

.bar:after { right: 50% !important; }


/* active */

.input1:focus ~ .bar:before, .input1:focus ~ .bar:after { width: 50% !important; }


/* Highlight */

.highlight {
	position: absolute !important;
	height: 60% !important;
	width: 100px !important;
	top: 25% !important;
	left: 0 !important;
	pointer-events: none !important;
	opacity: 0.5 !important;
}


/* active */

.input1:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease !important;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc !important; }
	to 	{ width: 0 !important; background: transparent !important; }
}







/* Button */

/* .button {
  position: relative !important;
  display: inline-block !important;
  padding: 12px 24px !important;
  margin: .3em 0 1em 0 !important;
  width: 100% !important;
  vertical-align: middle !important;
  color: #fff !important;
  font-size: 16px !important;
  line-height: 20px !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  letter-spacing: 1px !important;
  background: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid #3160B6 !important;
  cursor: pointer !important;
  transition: all 0.15s ease !important;
}
.button:focus { outline: 0 !important; }


/* Button modifiers */
/*
.buttonBlue {
  background: #4a89dc !important;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5) !important;
}

.buttonBlue:hover { background: #357bd8 !important; }  */


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}






/* input / focus / placeholder stylings  */

input[type='email']{       /* these first three have no effect because styling */
text-align:left;
}
input[type='text']{
text-align:left;
}
input[type='password']{
text-align:left;
}


input[type='email']:focus{
text-align:left;
}


input[type='text']:focus{
text-align:left;
}

input[type='password']:focus{
text-align:left;
}

/*
::-webkit-input-placeholder {
   font-size: 10px; text-align: right;
 }
::-moz-placeholder {
  font-size: 10px;
  }
:-ms-input-placeholder {
  font-size: 10px; }
input:-moz-placeholder {
  font-size: 10px;
}


/* on focus, float left */
/*
input:focus::-webkit-input-placeholder {
   font-size: 10px;
  text-align: left;
 }
input:focus::-moz-placeholder:focus {
  font-size: 10px;
  text-align: left;
  }
input:focus:-ms-input-placeholder:focus {
  font-size: 10px;
  text-align: left;
} /* ie */
/*
input:focus:-moz-placeholder {
  font-size: 10px;
  text-align: left;
}


input[type='checkbox']:after{
  line-height: 5em;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: -1.0px;
  margin-left: -1.0px;
  border: 0.5px solid grey;
  border-radius: 0.25em;
  background: white;
}
*/
input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  /* border: 1px solid black; */
  /* content: url(./img/carrot.svg); */
  background-image:  url('../img/carrot.svg'), linear-gradient(20deg, #B1B6BE 0%,#FFF 100%);
}






input[type='submit'] {
  background-color: #0693cd;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  padding-bottom: 30px;
  width: 180px;
}

.txtarea{
  display: block;
  box-sizing: padding-box !important;
  overflow: hidden;
  resize: none;
  width: 100%;
  font-size: 14px;
  margin: 30px auto;
  border-radius: 2px;
  border: 1;
  outline: none;
}
