@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Roboto|Gaegu');

body {
  font-family: 'Roboto';
  margin: 0em;
  padding: 0em;
  background-color: #e5e6e8;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
/* header */
nav a {
  color: white;
}
nav a:hover {
  color: #9ae298;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e5e6e8;
  margin: 0px;
  text-align: center;
}
nav {
  height: 30px;
  background-color: #048c36;
  overflow: hidden;
}
.textmenu {
  padding-top: 5px;
}
.dropdown {
  display: none;
}
nav .menu {
  padding: 1em;
}
#logo {
  width: 120px;
  margin-right: 0.3em;
}
article {
  margin: 130px 0 0 0;
  padding: 0;
}
.banner {
  margin-bottom: 1em;
  text-align: center;
  height: 400px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}
.banner p {
  margin: 0px;
  padding-top: 5%;
  color: white;
  font-size: 7.5vw;
  font-weight: bold;
  font-family: 'Gaegu';
}

.posting {
  margin: 0 auto;
}
.posting, .posting tbody td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 0.5em;
}
.list_item {
  max-width; 90%;
  text-align: left;
  display: inline-block;
  background-color: white;
  margin: 2em 0.5em;
  padding: 0.5em;
}
.uploadedImg {
  width: 100%;
  height: 250px;
}
.detailImg{
  width: 100%;
  height: auto;
}
.list_title {
  font-size: 20pt;
  font-weight: bold;
  margin: 0.2em;
  text-align: left;
}
#form_group {
  text-align: left;
  display: inline-block;
}
#photoupload {
  width: 30px;
}
.button {
  font-size: 1.1em;
  margin: 0 auto;
  background-color: green;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  color: white;
}
.button:hover {
  cursor:pointer;
  background-color: orange;
}
.desc {
  color: gray;
  font-size: 0.8em;
}
form input, form textarea {
  width: 95%;
}

#plusButton{
  display: none;
}

/*** terms of use styling ***/
.fieldsetContainer {
    height: 0;
    overflow: hidden;
    transition: height 400ms linear;
    max-width: 300px;
}

#toggle {
    display: none;
}

#toggle:checked ~ .fieldsetContainer {
    height: 200px;
}

label .arrow-dn { display: inline-block; }
label .arrow-up { display: none; }

#toggle:checked ~ label .arrow-dn { display: none; }
#toggle:checked ~ label .arrow-up { display: inline-block; }


/*********************************************/
@media screen and (min-width: 1024px) {
  .banner {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .banner {
    height: 300px;
    padding-top: 2em;
  }
}

@media screen and (max-width: 500px){
  #logo {
    width: 80px;
  }
  article {
    margin-top: 100px;
  }
  .banner {
    height: 200px;
    padding-top: 2em;
  }
  nav a:hover {
    color: black;
  }
  /* dropdown menu */
  .textmenu {
    display: none;
  }
  .dropdown {
    display: inline-block;
    float: left;
  }
  .dropbtn {
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../img/dropdown.png");
    background-color: transparent;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

    #plusButton{
      display: block;
      float: right;
      position: fixed;
      bottom: 10px;
      right: 0px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
    }

    #plusButton img{
      z-index: 99;
      width: 60px;
      height: 60px;
    }
}
