@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Roboto|Gaegu');

body {
  font-family: 'Roboto';
  margin: 0em;
  padding: 0em;
  background-color: #e5e6e8;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
/* header */
nav a {
  color: white;
}
nav a:hover {
  color: #9ae298;
}
header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #e5e6e8;
  margin: 0px;
  text-align: center;
}
nav {
  height: 40px;
  background-color: #048c36;
  overflow: hidden;
}
.textmenu {
  padding-top: 10px;
}
.dropdown {
  display: none;
}
nav .menu {
  padding: 2em;
  font-size: 1.1em;
}
#logo {
  width: 120px;
  margin-right: 0.3em;
}
article {
  margin: 140px 0 0 0;
  padding: 0;
}
.banner {
  margin-bottom: 1em;
  text-align: center;
  height: 400px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}
.banner p {
  margin: 0px;
  padding-top: 5%;
  color: white;
  font-size: 7.2vw;
  font-weight: bold;
  font-family: 'Gaegu';
  height: 12vw;
}

.list_item {
  max-width: 80%;
  text-align: left;
  display: inline-block;
  background-color: white;
  margin: 1.5em 0.5em;
  padding: 1em;
}
.uploadedImg {
  width: 100%;
  height: 250px;
}
.uploadedImg:hover {
  -webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
  filter: brightness(120%);
}
.detail_item{
  width: 500px;
  max-width: 80%;
  text-align: left;
  display: inline-block;
  background-color: white;
  margin: 2em 0.5em;
  padding: 1em;
}
.detailImg{
  width: 100%;
  height: auto;
}
.list_title {
  font-size: 20pt;
  font-weight: bold;
  margin: 0.2em;
  text-align: left;
}

form input, form textarea {
  width: 95%;
}
input {
  height: 25px;
  margin: 0.3em 0;
}
#photoupload {
  width: 30px;
  display: block;
}
#photoconfirm {
  width: 30%;
}
.button {
  font-size: 1.1em;
  margin: 0 auto;
  background-color: green;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  color: white;
}
.button:hover {
  cursor:pointer;
  background-color: orange;
}
.desc {
  color: #048c36;
  font-size: 10pt;
}
#plusButton{
  display: none;
  outline: none;
}
footer p {
  margin: 1em 0 0 0;
  background-color: #c7ccc8;
  padding: 1em 0.5em;
  font-size: 10pt;
}

/*** terms of use styling ***/
.fieldsetContainer {
  padding: 0 0.5em;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 400ms linear;
  max-width: 80%;
  margin: 0 auto;
  color: #646666;
}
.toggleDiv p {
  margin-bottom: 1em;
}

#toggle {
    display: none;
}

#toggle:checked ~ .fieldsetContainer {
    height: 130px;
}

label .arrow-dn { display: inline-block; }
label .arrow-up { display: none; }

#toggle:checked ~ label .arrow-dn { display: none; }
#toggle:checked ~ label .arrow-up { display: inline-block; }

#check_term {
  width: 18px;
  margin-right: 0.5em;
}

/***** Search bar styling *****/
#search-containter {
  position: absolute;
}

#searchbox {
  border: 2px solid #595d63;
  border-radius: 10px 0px 0px 10px;
  width: 35%;
  background-image: url('/img/search_button.png');
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}

#searchbtn {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 6.5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  font-weight: bold;
  left: -5px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.5);
}

#searchbtn:hover {
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

#search-container input[type="text"]:focus {
  outline: none;
}

#search-container .fas {
  position: absolute;
  padding: 8px 5px;
}

/* toggle CSS for edit, delete function in post page */
.align-right {
  text-align: right;
  margin-right: 0.5em;
}
#check_result {
  color: red;
}
.fakelink {
  cursor: pointer;
}
.fakelink:hover {
  color: #048c36;
}
.checkContainer {
  background-color: #eff0f2;
  padding: 0 0.5em;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 400ms linear;
  margin-bottom: 1em;
}

#toggle-check {
    display: none;
}

#toggle-check:checked ~ .checkContainer {
    height: 165px;
}


/*********************************************/
@media screen and (min-width: 1024px) {
  .banner {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .banner {
    height: 300px;
    padding-top: 2em;
  }
}

@media screen and (max-width: 600px){
  #logo {
    width: 80px;
  }
  article {
    margin-top: 110px;
  }
  .banner {
    height: 200px;
    padding-top: 2em;
  }
  nav a:hover {
    color: black;
  }
  /* dropdown menu */
  .textmenu {
    display: none;
  }
  .dropdown {
    display: inline-block;
    float: left;
  }
  .dropbtn {
    margin: 0 0 0 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../img/dropdown.png");
    background-color: transparent;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    border: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    border-bottom: 1px solid #d4d7db;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  #plusButton{
    display: block;
    float: right;
    position: fixed;
    bottom: 10px;
    right: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }

  #plusButton img{
    z-index: 10;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 400px){
  #toggle:checked ~ .fieldsetContainer {
      height: 190px;
  }
}
